php_value date.timezone "America/Los_Angeles"

RewriteEngine on

# Rewrite all requests for favicons to the ZF favicon
RewriteRule favicon.ico$ favicon.ico [NC]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteCond %{REQUEST_FILENAME} !\.(js|gif|jpg|png|css)$
RewriteRule ^.*$ index.php [NC,L]
